export(KSCovL2)
export(KSCovL2WS)
export(KSCovsup)
export(oneSPL)
useDynLib(ECFsup, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, "pchisq")
importFrom(foreach, "%dopar%")
importFrom(foreach, "foreach")
export(rcpparma_L2stat)
export(rcpparma_fKSCovL2)
export(rcpparma_maxstat)
export(rcpparma_fKSCovsup)
